.content-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content-container-inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content-container-inner h1 {
  margin: 0;
  font-size: 80px;
  white-space: nowrap;
  text-align: left;
}

.content-container-inner p {
  max-width: 600px;
  font-size: 18px;
  text-align: left;
}

.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 60vw;
}

.input-container-inner {
  align-items: center;
  background-color: var(--primary-light);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 100%;
}

.call-input {
  background-color: rgba(var(--primary-color-rgb), 0.8);
  font-size: 1.25rem;
  height: 100%;
  padding: 0.785rem;
  width: 100%;
}

.call-button {
  font-size: 1rem;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  width: 100%;

  &:disabled {
    background-color: rgba(126, 126, 126, 0.5);
    opacity: 0.7;
  }
}

.input-counter {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .content-container {
    flex-direction: row;
  }

  .input-container-inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .call-input {
    font-size: 1.75rem;
    padding: 0.785rem;
  }

  .call-button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    width: max-content;
  }
}
