/* Inter Font Family */

@font-face {
  font-family: 'Inter';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-variant-numeric: tabular-nums;
  src: url('/fonts/inter/inter-thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  font-variant-numeric: tabular-nums;
  src: url('/fonts/inter/inter-extra-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-variant-numeric: tabular-nums;
  src: url('/fonts/inter/inter-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-variant-numeric: tabular-nums;
  src: url('/fonts/inter/inter-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-variant-numeric: tabular-nums;
  src: url('/fonts/inter/inter-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-variant-numeric: tabular-nums;
  src: url('/fonts/inter/inter-semi-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-variant-numeric: tabular-nums;
  src: url('/fonts/inter/inter-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  font-variant-numeric: tabular-nums;
  src: url('/fonts/inter/inter-extra-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-variant-numeric: tabular-nums;
  src: url('/fonts/inter/inter-black.ttf') format('truetype');
}
