:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.handjet {
  font-family: 'Handjet', sans-serif;
}

.silkscreen {
  font-family: 'Silkscreen', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Silkscreen', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

button {
  font-family: 'Silkscreen', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

p {
  font-family: 'Handjet', sans-serif;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  h1,
  h2,
  h3 {
    font-size: 4rem;
  }

  p {
    font-size: 2.25rem;
  }

  button {
    font-size: 1rem;
  }
}
