:root {
  --primary-color: #004937;
  --primary-light: #f9f9fb;

  font-family: 'Handjet', sans-serif;
  font-size: 16px;

  background-color: var(--primary-color);
  color-scheme: light dark;
  color: var(--primary-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.handjet {
  font-family: 'Handjet', sans-serif;
}

.silkscreen {
  font-family: 'Silkscreen', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Silkscreen', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
}

.subheading {
  font-family: 'Silkscreen', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
}

button {
  background-color: var(--primary-light);
  color: var(--primary-color);
  cursor: pointer;
  font-family: 'Silkscreen', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  padding: 1rem 2rem;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

p {
  font-family: 'Handjet', sans-serif;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  h1,
  h2,
  h3 {
    font-size: 3rem;
    line-height: 1.2;
  }

  p {
    font-size: 2.25rem;
  }

  button {
    font-size: 1rem;
  }

  .subheading {
    font-size: 1.75rem;
  }
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  gap: 2.5rem;
  justify-content: center;
  min-height: calc(100vh - 80px);
}
