.message-flow-container {
  align-items: flex-start;
  backdrop-filter: blur(12px);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 32px;
  width: 100%;
}

.approve-container {
  align-items: center;
  backdrop-filter: blur(12px);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 32px;
  width: 100%;
}

.approve-content {
  margin: 16px 0;
}

.approve-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 31.2px */
}

.approve-description {
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}

.message-flow-title {
  align-items: center;
  display: flex;
  gap: 6px;
  margin-bottom: 24px;
}

.message-flow-title-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
}

.message-input-container {
  width: 100%;
}

.message-input {
  background: transparent;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant-numeric: lining-nums tabular-nums;
  font-weight: 400;
  line-height: 110%;
  outline: none;
  resize: none;
  text-align: left;
  width: 100%;
  min-height: 32px;
  max-height: 160px;
  box-sizing: border-box;
}

.message-input-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.message-input-length-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.message-input-length-container-inner {
  align-items: center;
  display: flex;
  gap: 4px;
}

.message-input-length-max {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
}

.message-input-length-characters {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
}

.message-input-length {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
}

.message-separator {
  height: 1px;
  margin: 24px 0;
  width: 100%;
}

.message-unsupported-network {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
  text-align: right;
  margin-bottom: 12px;
  width: 100%;
}

[data-theme='light'] .message-input {
  color: var(--primary-dark);
}

[data-theme='dark'] .message-input {
  color: var(--primary-light);
}

[data-theme='light'] .message-input-length-max,
[data-theme='dark'] .message-unsupported-network,
[data-theme='dark'] .approve-description,
[data-theme='dark'] .message-input-length-characters {
  color: #a9acb0;
}

[data-theme='dark'] .message-input-length-max,
[data-theme='light'] .message-unsupported-network,
[data-theme='light'] .approve-description,
[data-theme='light'] .message-input-length-characters {
  color: #696e75;
}

[data-theme='light'] .message-separator {
  background: #e5e8ec;
}

[data-theme='dark'] .message-separator {
  background: #283442;
}

[data-theme='light'] .message-flow-container,
[data-theme='light'] .approve-container {
  background: #ffffffcc;
  border: 1px solid #e5e8ec;
}

[data-theme='dark'] .message-flow-container,
[data-theme='dark'] .approve-container {
  background: #171f29cc;
  border: 1px solid #283442;
}

@media (min-width: 768px) {
  .approve-title {
    font-size: 24px;
  }

  .approve-description {
    font-size: 16px;
  }

  .message-input-length-container {
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }

  .message-input-length {
    font-size: 24px;
  }

  .message-input-length-max {
    font-size: 14px;
  }

  .message-input-length-characters {
    font-size: 14px;
  }

  .message-separator {
    margin: 32px 0;
  }
}

@media (min-width: 1168px) {
  .message-flow-container,
  .approve-container {
    flex: 1;
    width: 568px;
  }
}
