.header-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-wallet-icon {
  border-radius: 100%;
  height: 32px;
  width: 32px;
}

.header-wallet-address {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
  user-select: none;
}

.header-controls {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.header-connected-container {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 8px;
  border-radius: 24px;
  backdrop-filter: blur(12px);
}

.header-provider-icon,
.header-chain-icon {
  width: 1rem;
}

.header-disconnect-button {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}

[data-theme='light'] .header-connected-container {
  background: #ffffffcc;
  border: 1px solid #e5e8ec;
}

[data-theme='dark'] .header-connected-container {
  background: #171f29cc;
  border: 1px solid #283442;
}

[data-theme='light'] .header-wallet-icon {
  background-color: #00a87d;
}

[data-theme='dark'] .header-wallet-icon {
  background-color: #b0ff61;
}

[data-theme='light'] .header-disconnect-button {
  background-color: #f9f9fb;
}

[data-theme='dark'] .header-disconnect-button {
  background-color: #26303d;
}

@media (min-width: 768px) {
  .header-container {
    padding: 2rem;
  }

  .header-logo {
    width: 160px;
  }

  .header-controls {
    gap: 8px;
  }

  .header-provider-container {
    padding: 1rem;
  }
}
