.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  position: relative;
  border-radius: 16px;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.item-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  text-align: left;
  transition: all 0.2s ease-in;
}

.item-button:hover {
  filter: brightness(0.8);
}

.item-icon {
  width: 32px;
  height: 32px;
}

.close-button {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 28px;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  right: 16px;
  top: 16px;
  transition: opacity 0.2s;
  width: 28px;
}

.close-button:hover {
  opacity: 0.8;
}

[data-theme='light'] .modal-content,
[data-theme='light'] .item-button {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  border: 1px solid #f0f0f0;
}

[data-theme='dark'] .modal-content,
[data-theme='dark'] .item-button {
  background-color: #313131;
  border: 1px solid #3f3f3f;
  color: var(--primary-light);
}

[data-theme='dark'] .close-button {
  background-color: #3f3f3f;
  border: 1px solid #3f3f3f;
}

[data-theme='light'] .close-button {
  background-color: #e2e2e2;
  border: 1px solid #d6d6d6;
}

@media (min-width: 768px) {
  .modal-content {
    border-radius: 16px;
  }
}
