name: Slither

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
    types:
      - synchronize
      - opened
      - reopened
      - ready_for_review

jobs:
  slither:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - project: "examples/hello"
            file: "hello.sarif"
          - project: "examples/call"
            file: "call.sarif"
          - project: "examples/swap"
            file: "swap.sarif"
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "22"

      - name: Install Dependencies
        run: yarn install

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Build projects
        run: yarn build

      - name: Run Slither on ${{ matrix.project}}
        uses: crytic/slither-action@main
        with:
          ignore-compile: true
          sarif: ${{ matrix.file}}
          node-version: "22"
          target: ${{ matrix.project}}
          fail-on: none

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ matrix.file}}
